@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Urbanist:wght@100;200;300;400;600&display=swap');

* {
  box-sizing: border-box;
}
.App, html, body {
    margin: 0;
    color: var(--color-gray);
    font-size: var(--font-text-tablet);
    font-weight: 300;
    font-size: var(--font-text-tablet);
    font-family: "Noto Sans", "Roboto", 'Urbanist', sans-serif, 'Great Vibes', 'cursive' ;
}
.main{
    margin-top: 4.5rem;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.description {
    margin: 0 auto;
    margin-top: 1rem;
    width: 80%;
    line-height: 1.2rem;
    /* height: 5rem; */
}

a{
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.cta:nth-child(odd) {
  background: linear-gradient(
      rgba(250, 250, 250, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url("/src/assets/images/button/green\ brush\ stroke.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 44px;
  line-height: 44px; 
  padding: 1rem;
  font-size: 1.1rem;
  white-space: nowrap;
}

.masonry:nth-child(even) .cta  {
  background: url("/src/assets/images/button/yellow\ brush\ stroke.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 44px;
  line-height: 44px;
}

.cta:hover{
  color: var(--color-gray);
}

@media screen and (max-width: 550px) {
  .App, html, body {
    font-size: var(--font-text-mobile);
  }
}
@media screen and (min-width: 768px) {
  .App, html, body {
    font-size: var(--font-text-desktop);
  }
}
@media screen and (min-width: 1200px) {
  .App, html, body {
    font-size: var(--font-text-big-desktop);
  }
}
@media screen and (min-width: 1800px) {
  .App, html, body {
    font-size: var(--font-text-ultra-desktop);
  }
}


@media screen and (max-width: 320px) {
  .right-content a {
    font-size: var(--font-text-small-mobile);
  }
}
