:root {
  /* Colors */
  --color-gray: #444;
  --color-yellow: #FBC03A;
  --color-green: #A5E27D;
  --color-gray-light: #cecece;
  --color-cyan: #425959;

  /* Spacing */
  --space-big: 24px;
  --space-medium: 16px;
  --space-small: 8px;

  /* Fonts */
  --font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  --font-title-mobile: 18px;
  --font-title-desktop: 25px;

  --font-text-small-mobile: 13px;
  --font-text-tablet: 17px;
  --font-text-desktop: 19px;
  --font-text-big-desktop: 23px;
  --font-text-ultra-desktop: 27px;


  --font-button-mobile: 15px;
  --font-button-desktop: 19px;

    /* Media */  
  --small-mobile: 320px;
  --tablet: 768px;
  --desktop: 1100px;

  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 24px;
  --space-ultra: 48px;

}
