#hero {
	width: 100%;
    overflow: hidden;
    height: 100vh;
    /* height: calc(100vh - 60px); */
	display: flex;
    align-items: center;
    text-align: center;
    /* background-image: url(/src/assets/images/homepage/hero.jpg); */
    background: linear-gradient(rgba(250, 250, 250, 0.5), rgba(255, 255, 255, 0.8)), url("/src/assets/images/homepage/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#hero .text-box{
    margin: auto;
    width: 50%;
}
#hero .text-box h1 {
    font-family: 'Great Vibes', 'cursive';  
    font-size: 4rem; 
    font-weight: 900;
}
#hero .text-box h2 {
    font-family: 'Urbanist', sans-serif;  
    font-size: 2rem; 
    font-weight: 300;
}
