footer{
    width: 100%;
    background-color: #b7db9f;
    /* background-color: var(--color-gray-light); */
    overflow: hidden;
    bottom: 0;
    display: grid;
    justify-items: center;
    align-items: center;
}
.footer img{
    width: 30px;
    height: 30px;
}
.footer img:hover{
    transform: scale(1.5);
}
.footer p{
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 0.9rem;
}

.footer ul{
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0;
    margin-top: 20px;
}

.footer li{
    justify-items: center;
    margin-left: 10px;
}
