.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  z-index: 9999;

  background-color: white;
  display: flex;
  box-shadow: 2px 2px 7px #ccc;

}

.nav-bar .logo{
  height: 3rem;
  line-height: 3rem;
  vertical-align: middle;
}

.nav-bar ul{
  width: 90%;
  list-style: none;
  align-content: center;
  align-items: center;

  display: flex;
  justify-content: space-around;
}
.nav-bar li{
  cursor: pointer;
}

.nav-item a{
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  color: var(--color-gray);
  transition: transform .2s;
  font-size: 0.75rem;
}

.nav-item a:hover {
  text-decoration: underline;
}

.home-item {
  order: 2;
}

.contact-item,
.drinks-item {
  order: 3;
}

@media (min-width: 768px) {
  .nav-bar{
    width: 100%;
  }
  .nav-bar ul {
    grid-template-columns: 1fr repeat(4, auto);
    grid-column-gap: 16px;
    padding-right: 16px;
  }
  .home-item {
    order: initial;
  }
}
